.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    background-image: url('https://i.gifer.com/3klW.mp4');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.App-link {
    color: #61dafb;
}

.Procenko {

    background-color: rgb(77, 93, 182);
    text-align: center;
    color: rgb(206, 168, 65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Sheglova {
    background-color: rgb(219, 251, 255);
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Artemyev {
    background-color: rgb(77, 93, 182);
    text-align: center;
    color: rgb(206, 168, 65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Kamleva {
    background-color: rgb(226, 243, 74);
    text-align: center;
    color: rgb(221, 44, 44);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Sheglova_p {
    margin-top: 40px;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
}
.Sheglova_s {
  text-align: center; 
  font-style: italic; 
  text-indent: 5%;
  letter-spacing: 0.1px;
}
.Sheglova_m {
    text-align: center; 
    font-style: italic; 
    text-indent: 5%;
    display: inline;
}
.Sheglova_c {
    text-align: center; 
    text-indent: 5%;
    color:red;
    display: inline;
    
}

.Rozhkova {

    background: linear-gradient(45deg, #d59bec, #36f5c5);
    text-align: center;
    color: rgb(23, 105, 67);
    font-family: Bookman Old Style, Helvetica, sans-serif;
    font-style: oblique;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;

}

.rozhok {
    text-align: center;
    color: rgb(112, 49, 65);
    font-family: Bookman Old Style, Helvetica, sans-serif;
    font-style: oblique;

}

.Lobanov {

    background-color: rgb(77, 93, 182);
    text-align: center;
    color: rgb(206, 168, 65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.Turov {
    background: linear-gradient(45deg, #c0fafa, #fdb9ce);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: rgb(255, 102, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .BykovOvsepyan {
    background: linear-gradient(45deg, #0d5858, #db7f42);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: rgb(85, 39, 9);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Mironov {
    background: hsl(0, 0%, 0%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: #d400ff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Nikulin {

    background: linear-gradient(45deg, #e0c7c7, #ff7f7f);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: rgb(255, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Korneev {
    background-color:rgb(255, 102, 0);
    text-align: center;
    color:rgb(77, 170, 182);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Godonoga {
    background-color: rgb(27, 187, 27);
    text-align: center;
    color:rgb(160, 20, 27);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Mikalyuk {
    background-color: rgb(241, 12, 62);
    text-align: center;
    color: rgb(69, 116, 92);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}