.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {

    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  background-image: url('https://i.gifer.com/3klW.mp4');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Procenko {
  
  background-color: rgb(77, 93, 182);
  text-align: center;
  color: rgb(206, 168, 65);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.Artemyev {
  background-color: rgb(77, 93, 182);
  text-align: center;
  color: rgb(206, 168, 65);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Kamleva {
  background-color: rgb(226, 243, 74);
  text-align: center;
  color: rgb(221, 44, 44);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Rozhkova {

  background-color: rgba(126, 19, 226, 0.733);
  text-align: center;
  color: rgb(243, 239, 17);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;

}


.Lobanov{

    background-color: rgb(77, 93, 182);
    text-align: center;
    color: rgb(206, 168, 65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }